a.btn-a {
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    border-radius:25px;
    margin-right: 20px;
    margin-top: 10px;
    color: rgb(1, 7, 12);
    background-color: rgb(174, 233, 51);
    border: none;
}

span.question {
    color: #f43f3a;
    display: block;
}

body {
    font-size: 16px;
}

div.header{
    background-color: #095a1d;
;
}

div.navheader {
    font-size: large;
    color: #333333;
}

ol li {
    padding: 5px;
    list-style-position: outside;
}